<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Car</h1>

<f:flashMessages />

<table  class="tx_pdecarexample" >
	<tr>
		<th><f:translate key="tx_pdecarexample_domain_model_car.name" /></th>
		<th><f:translate key="tx_pdecarexample_domain_model_car.price" /></th>
		<th><f:translate key="tx_pdecarexample_domain_model_car.color" /></th>
		<th><f:translate key="tx_pdecarexample_domain_model_car.owner" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{cars}" as="car">
		<tr>
			<td><f:link.action action="show" arguments="{car : car}"> {car.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.color}</f:link.action></td>
			<td><f:link.action action="show" arguments="{car : car}"> {car.owner}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{car : car}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{car : car}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Car</f:link.action>
</f:section>