<label for="name">
	<f:translate key="tx_pdecarexample_domain_model_car.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="price">
	<f:translate key="tx_pdecarexample_domain_model_car.price" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="price" /><br />
<label for="color">
	<f:translate key="tx_pdecarexample_domain_model_car.color" />
</label><br />
	<f:form.textfield property="color" /><br />
<label for="owner">
	<f:translate key="tx_pdecarexample_domain_model_car.owner" />
</label><br />
	<f:form.textfield property="owner" /><br />