<table class="tx-pde-car-example" >
	<tr>
		<td>
			<f:translate key="tx_pdecarexample_domain_model_car.name" />
		</td>
		<td>
			{car.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pdecarexample_domain_model_car.price" />
		</td>
		<td>
			{car.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pdecarexample_domain_model_car.color" />
		</td>
		<td>
			{car.color}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pdecarexample_domain_model_car.owner" />
		</td>
		<td>
			{car.owner}
		</td>
	</tr>
</table>